name: A Test master on JDK8

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: 8.0
        distribution: temurin
        cache: maven

    - name: Run basic tests
      run: mvn clean verify
